<h2 mat-dialog-title>User Information</h2>
<mat-dialog-content>
  <table class="table borderless">
    <tbody>
      <tr>
        <td><h3 class="text-right">First Name:</h3></td>
        <td>
          <h3>{{ data.fname }}</h3>
        </td>
      </tr>
      <tr>
        <td><h3 class="text-right">Last Name :</h3></td>
        <td>
          <h3>{{ data.lname }}</h3>
        </td>
      </tr>
      <tr>
        <td><h3 class="text-right">Contact No :</h3></td>
        <td>
          <h3>{{ data.mobile }}</h3>
        </td>
      </tr>
      <tr>
        <td><h3 class="text-right">Email :</h3></td>
        <td>
          <h3>{{ data.email }}</h3>
        </td>
      </tr>
    </tbody>
  </table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-button
    mat-dialog-close
    style="background-color: #242437; color: white"
  >
    Close
  </button>
</mat-dialog-actions>
