<div class="row">
  <div class="col-lg-11">
    <h2 mat-dialog-title *ngIf="data; else fail">Edit User</h2>
    <ng-template #fail>
      <h2 mat-dialog-title>Create User</h2>
    </ng-template>
  </div>
  <div class="col-lg-1">
    <button
      mat-button
      class="close-icon pull-right"
      mat-dialog-close
      style="background-color: white"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<hr />
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label>First Name</label>
        <input
          type="text"
          class="form-control"
          formControlName="fname"
          required
        />
        <div
          *ngIf="fname.invalid && (fname.dirty || fname.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="fname.errors.required">First Name is required.</div>
        </div>
      </div>
      <br />
      <div class="form-group">
        <label>Last Name</label>
        <input
          type="text"
          class="form-control"
          formControlName="lname"
          required
        />
        <div
          *ngIf="lname.invalid && (lname.dirty || lname.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="lname.errors.required">Last Name is required.</div>
        </div>
      </div>
      <br />
      <div class="form-group">
        <label>E-mail</label>
        <input
          type="email"
          class="form-control"
          formControlName="email"
          required
        />
        <div
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="email.errors.required">Email is required.</div>
          <div *ngIf="email.errors.email">Invalid email.</div>
        </div>
      </div>
      <br />
      <div class="form-group">
        <label>Mobile</label>
        <input
          type="text"
          class="form-control"
          formControlName="mobile"
          required
        />
        <div
          *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="mobile.errors.required">Mobile is required.</div>
        </div>
      </div>
      <br />
      <div class="form-group">
        <label>Password</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          required
        />
      </div>
      <div
        *ngIf="password.invalid && (password.dirty || password.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="password.errors.required">Password is required.</div>
      </div>
      <br />
      <button
        mat-button
        type="submit"
        [disabled]="userForm.invalid"
        style="background-color: #242437; color: white"
      >
        Submit
      </button>
    </div>
    <div class="col-lg-6"></div>
  </div>
</form>
